<h1>Choose your class</h1>

<div id="classes">
  <div class="class"><a href="#">English 4 IB</a></div>
  <div class="class"><a href="#">English 3 IB</a></div>
  <div class="class"><a href="#">English 2 Pre-IB</a></div>
  <div class="class"><a href="#">English 1 Pre-IB</a></div>
</div>
