<h1>Choose your class</h1>

<div id="classes">
  <% for course in @courses %>
    <div class="class"><%= link_to course.name, courses_path(:name => course.name.parameterize, :id => course.id) %></div>
  <% end %>
</div>
