<h1>Summer Reading List</h1>

<div id="classes">
  <% for category in @course.categories %>
    <div class="class"><%= category.name %></div>
    <div class="novel">
      <ul>
        <% for novel in category.novels %>
          <li><%= novel.name %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
