<h1>Summer Reading List</h1>

<div id="classes">
  <% for category in @course.categories %>
    <div class="class desc"><%= category.name %></div>
    <div class="novels">
      <ul>
        <% for novel in category.novels %>
        <div class="novel">
          <li><%= novel.name %></li>
          <div class="notes">
            <%= render 'actions', :active => true %>
          </div>
          
          <%= raw "<hr/>" if novel.id != category.novels[category.novels.count-1].id %>
        </div>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
