<!DOCTYPE html>
<html>
<head>
  <title>Summer Reading</title>
  <link href='http://fonts.googleapis.com/css?family=Lobster|Droid+Sans|Droid+Serif' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <noscript>
    <style type="text/css">
      div.notes {
        display: block;
      }
    </style>
  </noscript>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<div id="content">

  <%= yield %>
  
  <div id="footer">
    <p>Copyright &copy; 2011, Rishi Shah.</p>
  </div>

</div>
</body>

</html>
